article {
  width: 1050px;
  height: 500px;
  min-width: 1300px;
  margin: 100px auto;
  position: relative;
}
.article__filter {
  width: 100%;
}

.filter__btn {
  width: 70px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}
.filter__btn i {
  margin-right: 5px;
}

.filter__btn:hover {
  background-color: rgb(200, 200, 200);
}

.filter__container {
  width: 100%;
  height: 420px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  display: none;
}
.filter__items {
  width: 200px;
  height: 100%;
}
.filter__title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
}
.filter__item {
  margin-top: 15px;
  font-size: 12px;
  color: rgb(78, 78, 78);
  cursor: pointer;
}

.article__main {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid rgb(200, 200, 200);
  margin-bottom: 15px;
}

.article__item {
  width: 100%;
  height: 180px;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}
.article__item img {
  border-radius: 15px;
}
.article__item__info {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.article__item__info h1 {
  font-size: 20px;
}
.article__item__info__detail {
  font-size: 12px;
  color: rgb(77, 77, 77);
  margin-top: 10px;
}
.article__item__info__user {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 15px;
}
.article__item__info__user img {
  width: 25px;
  height: 25px;
}
.article__item__info p {
  font-size: 12px;
  margin-top: 15px;
}
.article__item__info__type {
  padding: 2px 3px;
  font-weight: bold;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  width: 16px;
  font-size: 12px;
  margin-top: 15px;
}

.article__main__exist__more h3,
.article__main h3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 150px;
  height: 30px;
  font-size: 18px;
}
.article__main__exist__more {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid rgb(200, 200, 200);
  margin-bottom: 15px;
}

.article__more__btn {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}
