main {
  width: 80%;
}
.main__container {
  position: absolute;
  display: none;
  margin: 15px 30px;
  margin-top: 120px;
}
.main__container {
  display: block;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  min-width: 1300px;
}
.main__item {
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 100px;
  cursor: pointer;
}
.main__item__img__container {
  width: 100%;
  height: 150px;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
}
.main__item__img__container img {
  width: 100%;
  height: 100%;
}
.main__item__img__container span {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 5px;
  color: white;
  bottom: 3px;
  right: 10px;
  font-size: 12px;
  pointer-events: none;
}
.main__item__info__container {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
}
.main__item__info__top {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.main__item__info__top h1 {
  width: 250px;
  height: 42px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__item__info__top img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.main__item__info__bottom {
  width: 80%;
  height: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -15px;
  left: 50px;
}
.main__item__info__bottom div {
  display: flex;
  font-size: 13px;
  margin-top: 5px;
}

.main__item__info__bottom p {
  position: absolute;
  background-color: rgba(96, 96, 96, 0.77);
  color: white;
  top: -50px;
  left: 0px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  opacity: 0;
  transition: 0.3s;
}

.main__item__info__bottom div h3 {
  margin-right: 3px;
}

#main2,
#main3,
#main4,
#main5,
#main6,
#main7,
#main8,
#main9,
#main10,
#main11,
#main12,
#main13 {
  display: none;
}

@media (min-width: 1750px) {
  .main__container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
