nav {
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: scroll;
  z-index: 2;
  background-color: white;
}
.nav__title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.nav__title i:nth-child(1) {
  cursor: pointer;
}
.nav__title i:nth-child(2) {
  color: rgb(254, 0, 0);
  font-size: 25px;
  margin-left: 15px;
  margin-right: 2px;
}

.nav__btns {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.nav__btns2 {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.nav__item {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: left;
  cursor: pointer;
}
.nav__item:hover {
  background-color: rgb(242, 242, 242);
}
.nav__item i {
  margin-left: 15px;
  margin-right: 15px;
}
.nav__item span {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}
.nav__sub {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.nav__sub h1 {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.nav__more span {
  margin-left: 30px;
}

.nav__item img {
  width: 25px;
  height: 25px;
  margin-left: 12px;
  margin-right: 9px;
  border-radius: 100%;
}
.nav__btns3 {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
  padding-top: 30px;
}
.nav__btns3 h1 {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.nav__btns4 {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
  padding-top: 30px;
}
.nav__btns4 h1 {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.nav__btns5 {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}
.nav__footer {
  padding: 0 5px;
  width: 100%;
  height: 200px;
  font-size: 13px;
  line-height: 20px;
}
.nav__footer a {
  text-decoration: none;
  color: black;
}
.nav__footer span a {
  color: rgb(24, 117, 210);
}

@media (max-width: 1500px) {
  nav {
    width: 100px;
  }
}
